<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <ENVIRONMENT>
        <Link rel="stylesheet" asp-href-include="css/*" asp-href-exclude="css/all.min.css"/>
    </ENVIRONMENT>
     <ENVIRONMENT exclude="Development">
        <Link rel="stylesheet" asp-href-include="css/all.min.css"/>
    </ENVIRONMENT>
</head>
<body>
     <div class="container">
         <div class="row">
            <div class="col-md-2">
                  <img asp-append-version="true" alt="Logo" src="../images/logo.jpg" style="height:60px;" />
            </div>
            <div class="col-md-10">
              <span class="h2">@ViewBag.Title</span>
            </div>
            </div>
            <div class="row">
                <div class="col-md-12">@RenderBody()</div>
            </div>
     </div>
</body>
</html>
