@using aspnetcore3_demo.Models;
@model IEnumerable<Department>

<div class="row">
  <div class="col-md-10 offset-md-2">
      <table class="table">
          <tr>
              <th>部门名称</th>
                 <th>地址</th>
                    <th>员工数量</th>
                       <th>操作</th>
          </tr>
          @Html.DisplayForModel()
      </table>
  </div>
</div>
<div class="row">
    <div class="col-md-4 offset-md-2">
        <a asp-action="Add">新增</a>
    </div>
</div>
<div>
     <div class="col-md-4 offset-md-2"  style="margin-top:40px;">
        @await Component.InvokeAsync("CompanySummary",new{ title="部门页"})
    </div>
</div>
