@page
@using aspnetcore3_demo;
@inject aspnetcore3_demo.Services.IDepartmentService departmentService

<div class="row">
  <div class="col-md-10 offset-md-2">
      <table class="table">
          <tr>
              <th>部门名称</th>
                 <th>地址</th>
                    <th>员工数量</th>
                       <th>操作</th>

          </tr>
          @Html.DisplayFor(x=>x.Departments)
      </table>
  </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a asp-page="Department/AddDepartment">新增部门</a>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <VC:company-summary title="部门列表页汇总"></VC:company-summary>
    </div>
</div>
@functions{
    public IEnumerable<Models.Department> Departments { get; set; }
    public async Task OnGetAsync(){
        Departments = await departmentService.GetAll();
    }
}
